.banner-home {
    position: relative;
    margin-top: 120px;
    width: 100vw;
    
    img {
        width: 100vw;
        height: calc(100vh - 120px);
        
        //object-fit: contain;
    }
}
