.banner-home {
    position: relative;
    margin-top: 150px;
    //width: 100vw;
    
    @media only screen and (max-width: 576px) {
        margin-top: 80px;
    }
    img {
        width: 100%;
        //min-height: calc(100vh - 120px);
        //object-fit: cover;

    }
}



