@import './media.scss';

:root {
    --main-color: #1967d2;
    --bg-color: #f2f7ff;
    --border-color: #b0c9ec;
    --suport-main-color: #ed1b24;
}

.btn-dangki-detail {
    width: 100%;
    text-align: center;
    background-color: #1967d2;
    color: white;
    border-radius: 4px;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 16px;
    margin: 50px auto;
    &:hover {
        background-color: #094599;
        transition: 0.5s;
    }
}
// modal nộp cv
.t{

}
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
        background-color: #fefefe;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #888;
        //width: 600px;
        max-height: 85vh;
        @media only screen and (max-width: 576px) {
            width: 85vw;
        }
        @media only screen and (min-width: 577px)and (max-width:991px) {
            width: 60vw;
        }
        @media only screen and (min-width: 992px) {
            width: 600px;
        }
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.height-scroll {
    //max-height: 400px;
    overflow-y: auto;
    @media only screen and (max-width: 576px) {
        max-height: 50vh;
    }
    @media only screen and (min-width: 577px) {
        max-height: 400px;
    }
}
.input-field {
    font-size: 16px !important;
}
.form-control {
    height: 0 !important ;
}

//animation ở index
.t {
}
.twm-home1-banner-section .twm-bnr-right-section .twm-img-bg-circle-area .twm-img-bg-circle2 span {
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}
.twm-home1-banner-section .twm-bnr-right-section .twm-img-bg-circle-area .twm-img-bg-circle1 span {
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}
.container {
    @media only screen and (min-width: 576px) {
        max-width: 1200px ;
    }
}
.mobile-info{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.scr_big-info{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.scr_big-info{
    @media only screen and (min-width: 991px) {
        margin-left: 30px;
    }
}
//// các job ở index
.test {
    display: none;
    color: white;
}
.job {
    //margin-top: 100px;
}
.g1 {
    border: 1px solid #b0c9ec;
    border-radius: 5px;
    padding-bottom: 25px;
    .title {
        background-color: var(--bg-color);
        //padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        @media only screen and (max-width: 576px) {
            padding: 10px;
        }
        @media only screen and (min-width: 577px) {
            padding: 20px;
        }
        .job-name {
            font-size: 22px;
            font-weight: bold;
            text-transform: capitalize;
            @media only screen and (max-width: 576px) {
                font-size: 18px;
                max-width: 200px;
            }
        }
        .btn-view-all {
            font-size: 16px;
            cursor: pointer;
            color: #1967d2;
            text-transform: uppercase;
            &:hover {
                color: var(--suport-main-color);
                transition: 0.5s;
            }
        }
    }
    .job-list {
        @media only screen and (max-width: 576px) {
            padding-top: 10px;
        }
        @media only screen and (min-width: 577px) {
            padding: 20px 20px 0 20px;
        }
        .card-job {
            padding: 15px 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 30px;
            &:hover {
                cursor: pointer;
                border: 1px solid var(--border-color);
                border-radius: 8px;
                background-color: var(--bg-color);
                //background-color: #3f6eaf;
            }
            .chucvu {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .group-info {
                display: flex;
                align-items: center;

                .company-logo {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                    }
                }
                .content {
                    margin-left: 10px;
                    max-width: calc(100% - 60px);
                    .name_cty {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 500;
                        @media only screen and (max-width: 576px) {
                            max-width: 100%;
                            box-sizing: content-box;
                        }
                        @media only screen and (min-width: 577px) and (max-width: 767px) {
                            max-width: 100%;
                            box-sizing: content-box;
                        }
                        @media only screen and (min-width: 768px) and (max-width: 991px) {
                            max-width: 100%;
                            box-sizing: content-box;
                        }
                        @media only screen and (min-width: 992px) and (max-width: 1199px) {
                            max-width: 100%;
                            box-sizing: content-box;
                        }
                        @media only screen and (min-width: 1200px) {
                            max-width: 100%;
                            box-sizing: content-box;
                        }
                    }
                    span {
                        padding: 3px 8px;
                        background-color: #f4f5f5;
                        border-radius: 3px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

//tin tức ở index,

.t {
    color: white;
}

.name_blog {
    height: 50px;
    margin-top: 10px;
    line-height: 1.4;
    font-weight: 600;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
        color: #1967d2;
    }
}
.text-blog {
    //margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-post {
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover{
        border: 1px solid var(--main-color);
        transition: 0.5s;
    }
    .img_blog_l {
        width: 100%;
        figure {
            width: 100%;
            height: 220px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                box-sizing: border-box;
                display: block;
            }
        }
    }
    .blog-content {
        padding: 0px 15px 15px;
    }
}

.date-custom {
    background-color: var(--main-color);
   
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding: 3px 10px;
    
    position: relative;
    z-index: 1;
    width: fit-content;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        z-index: -1;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 0px solid transparent;
        border-top: 8px solid #6881a2;
    }
}

//blog tất cả
.t {
}
.twm-job-title{
    &:hover{
        color: #1967d2;
    }
}
.blog-detail {
    .tieude-detail {
        margin-bottom: 10px;
    }
    .date-detail {
        margin-bottom: 15px;
        color: #a5a3a3;
        font-size: 13px;
        font-style: italic;
    }
}
//tin tức liên quan

.t {
    color: white;
}
.img-blog-detail {
    img {
        width: 100%;
        
    }
}
.pr-blog {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .img-detail-blog-new {
        width: 110px;
        margin-right: 10px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
    }
    .pr-r {
        max-width: calc(100% - 110px);
        .name-pr {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            color: #1967d2;
        }
        .text-pr {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
}

// search index \
.title-search {
    font-size: 18px;
}
