.btn-dangki-detail {
    width: 100%;
    text-align: center;
    background-color: #1967d2;
    color: white;
    border-radius: 7px;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    &:hover {
        background-color: #094599;
        transition: 0.5s;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
        background-color: #fefefe;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #888;
        width: 40%;
        max-height: 85vh;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.height-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: unset;
}
.input-field {
    font-size: 16px !important;
}
.form-control {
    height: 0 !important ;
}
/////// job vietnam index
.test {
    display: none;
    color: white;
}
.g-pr {
    padding: 15px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
    &:hover {
        cursor: pointer;
        border: 2px solid #7aa7e5;
        border-radius: 8px;
    }
    .chucvu {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .group-info {
        display: flex;
        align-items: center;

        .company-logo {
            width: 60px;
            img {
                width: 100%;
            }
        }
        .content {
            margin-left: 10px;
            .name_job {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                width: 300px;
            }
            span {
                padding: 3px 8px;
                background-color: #f4f5f5;
                border-radius: 3px;
                margin-right: 5px;
            }
        }
    }
}


//// các job 

