RewriteEngine On

RewriteRule ^trang-chu index.php [QSA]
RewriteRule ^gioi-thieu about-us.php [QSA]
RewriteRule ^lien-he-ung-vien lienhe-ungvien.php [QSA]
RewriteRule ^lien-he-nha-tuyen-dung lienhe-ntd.php [QSA]
RewriteRule ^lien-he-khac lienhe-khac.php [QSA]

RewriteRule ^cam-on thank-you.php [QSA]
RewriteRule ^tinh-luong-gross-net gross-net.php [QSA]
RewriteRule ^quy-trinh-viec-lam-tai-viet-nam quytrinh-vn.php [QSA]
#chi tiết các job

RewriteRule viec-lam-tai-viet-nam/(.*)-([0-9]+)\.html$ job-detail.php?id=$2 [QSA,L]
RewriteRule viec-lam-xkld-nhat-ban/(.*)-([0-9]+)\.html$ job-detail_NB.php?id=$2 [QSA,L]
RewriteRule viec-lam-ky-su-va-thong-dich-nhat-ban/(.*)-([0-9]+)\.html$ job-detail-kysunb.php?id=$2 [QSA,L]
RewriteRule viec-lam-tai-vietseiko/(.*)-([0-9]+)\.html$ job-detail-vietseiko.php?id=$2 [QSA,L]

#danh sách các job
RewriteRule ^viec-lam-tai-viet-nam job-list-vn.php [QSA]
RewriteRule ^viec-lam-xkld-nhat-ban job-list-xkld.php [QSA]
RewriteRule ^viec-lam-ky-su-va-thong-dich-nhat-ban job-list-ksnb.php [QSA]
RewriteRule ^viec-lam-tai-vietseiko job-list-vietseiko.php [QSA]

#tin tuc, cam nang

RewriteRule tin-tuc/(.*)-([0-9]+)\.html$ blog-detail.php?id=$2 [QSA,L]
RewriteRule ^tin-tuc blog.php [QSA]

RewriteRule cam-nang/(.*)-([0-9]+)\.html$ camnang-detail.php?id=$2 [QSA,L]
RewriteRule ^cam-nang cam-nang.php [QSA]


#gioi thiệu

RewriteRule ^thu-ngo thungo.php [QSA]
RewriteRule ^ve-chung-toi Vechungtoi.php [QSA]
RewriteRule ^tam-nhin-va-su-menh tamnhinvasumenh.php [QSA]
RewriteRule ^nguyen-tac nguyentac.php [QSA]
RewriteRule ^gia-tri-van-hoa nhunggiatrivanhoa.php [QSA]
RewriteRule ^gia-tri-cot-loi nhunggiatricotloi.php [QSA]
RewriteRule ^hinh-anh-va-video hinhanh-video.php [QSA]

#footer

RewriteRule ^giay-phep-hoat-dong giayphephoatdongdichvuvieclam.php [QSA]
RewriteRule ^giay-phep-kinh-doanh giayphepkinhdoanh.php [QSA]