.title-job {
    font-family: Arial, Helvetica, sans-serif;
}
.control-group {
    margin-bottom: 20px;
}

.select2-container {
    display: none !important;
}
select {
    display: block !important;
}
