@import './reset/reset.scss';

:root {
    --color-main: #3498db;
}
.form-contact {
    .i-half {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        &:focus {
            border: 1px solid var(--color-main);
        }
    }
    .hoc-van {
        margin: 8px 0;
    }
    .ta {
        &:focus {
            outline: none !important;
            border-color: var(--color-main);
        }
    }
}
.btn-form {
    width: 100%;
    background-color: var(--color-main);
    color: white;
    padding: 14px 20px;
    margin: 8px 0 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background-color: #05619e;
    }
}
