@import './reset/reset.scss';

:root {
    --color-main: #3498db;
}
.t {
}
.twm-home1-banner-section .twm-bnr-right-section .twm-img-bg-circle-area .twm-img-bg-circle2 span {
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}
.twm-home1-banner-section .twm-bnr-right-section .twm-img-bg-circle-area .twm-img-bg-circle1 span {
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}
.container {
    @media only screen and (min-width: 576px) {
        max-width: 1200px;
    }
}
.container-css{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.form-contact {
    .i-half {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        &:focus {
            border: 1px solid var(--color-main);
        }
    }
    .hoc-van {
        margin: 8px 0;
    }
    .ta {
        &:focus {
            outline: none !important;
            border-color: var(--color-main);
        }
    }
}
.btn-form {
    width: 100%;
    background-color: var(--color-main);
    color: white;
    padding: 14px 20px;
    margin: 8px 0 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        background-color: #05619e;
    }
}
