/* element.style {} */
/* //phan body */
.body_child_content {
    background: #f3f7fa;
}

.page_child .content_jobs {
    padding-top: 0px;
}

.content_jobs {
    float: left;
    display: block;
    width: 100%;
    background: #fff;
    position: relative;
    padding-top: 5px;
}

.content_banner_aboutus {
    background: url(../images/bg1.jpg) no-repeat left top;
    background-size: 100%;
    background-attachment: fixed !important;
    height: 220px;
}

.content_banner_aboutus_title {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    line-height: 30px;
}

.content_banner_aboutus_title h4 {
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}


.col-lg-3 {
    width: 25%;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
    }
}


/* Css cột bên trái */
@media only screen and (min-width: 1200px) {
    .left_container {
        padding: 15px;
    }
}

.left_container {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 15px;
}

.left_container_title {
    background: rgb(237, 28, 36);
    background: linear-gradient(90deg, rgba(237, 28, 36, 1) 0%, rgba(237, 28, 36, 1) 35%, rgba(191, 3, 12, 1) 100%);
    color: #fff;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    font-family: 'Tinos', serif;
    font-size: 20px;
    text-transform: uppercase;
}

.left_container_title_ch {
    float: right;
    display: block;
    width: auto;
    line-height: 0px;
}

.content_banner_aboutus_title,
.left_container,
.left_container_title,
.left_container_content,
.panel-heading h4.panel-title,
.panel-heading,
.collapse_large,
.collapse_small,
#gioithieucongty ul li,
#gioithieubophan ul li,
#thuvienmedia ul li,
#gioithieucongty ul li a,
#gioithieubophan ul li a,
#thuvienmedia ul li a,
.left_container_maz,
.left_container_maz_cont .carousel-item-maz,
.left_container_maz,
.left_container_maz_cont {
    float: left;
    display: block;
    width: 100%;
}

.panel-group {
    margin-bottom: 20px;
}

.left_container_content .panel-default {
    border-color: #f0f0f0;
    float: left;
    display: block;
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-bottom: 1px solid #d4d4d4;
}

.left_container_content .panel {
    background-color: #f0f0f0;
}

.panel-group .panel {
    margin-bottom: -5px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
    border-color: #c56060;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-bottom: 0px;
    padding: 10px 10px 10px 20px;
    color: #333;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}


.panel-group .panel-heading {
    border-bottom: 0;
}

span.collapse_small {
    color: #898989;
    display: block;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    margin: 0px 0px 5px;

}

span.collapse_large {
    width: 201.17px;
    font-weight: bold;
    height: 20px;
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

/* //gioi thiêu */
#gioithieucongty,
#gioithieubophan,
#thuvienmedia {
    float: left;
    width: 100%;
}

.collapse.in {
    display: block;
}

#gioithieucongty .panel-body,
#gioithieubophan .panel-body,
#thuvienmedia .panel-body {
    float: left;
    width: 100%;
    padding-top: 0px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #f0f0f0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}

.panel-body {
    padding: 15px 10px;
}

#gioithieucongty ul li a,
#gioithieubophan ul li a,
#thuvienmedia ul li a {
    color: #333333;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

#gioithieucongty ul li.active a,
#gioithieubophan ul li.active a,
#thuvienmedia ul li.active a {
    color: #be030c;
    text-decoration: none;
}


#gioithieucongty ul li,
#gioithieubophan ul li,
#thuvienmedia ul li {
    list-style-type: none;
    border-bottom: 1px solid #d4d4d4;
    background: url(/images/icon_muiten.png) no-repeat 20px 13px;
    background-size: 6px 10px;
    padding: 8px 0px 8px 40px;
}

#gioithieucongty ul,
#gioithieubophan ul,
#thuvienmedia ul {
    float: left;
    width: 100%;
    display: block;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -moz-border-radius: 2x;
    -webkit-border-radius: 2px;
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
}

ul,
ol {
    margin-top: 0;
}

.collapse_small {
    font-size: 13px;
    color: #888c87;
    transition: color 0.3s;
}

.collapse_large:hover {
    color: #BE030C;
}

.collapse_small:hover {
    color: #009979;
}

.col-lg-9 {
    width: 75%;
}

/* Css cột bên phải  */

.right_container {
    margin-bottom: 50px;
    margin-top: 35px;
}

.row_trusochinh {
    height: 1200px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.right_container .right_container_img {
    width: 54%;
    text-align: right;
}

.right_container .right_container_img {
    float: left;
    display: block;
    position: relative;
    margin-right: 30px;
}

.right_container .right_container_img img {
    margin-bottom: 1px;
}

img {
    display: inline-block;
}

img,
object,
embed {
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.right_container .right_container_cont {
    right: 0px;
    width: 55%;
}

.right_container .right_container_cont {
    float: right;
    display: block;
    position: absolute;
}

.right_container_cont_logo {
    float: right;
    display: block;
    width: 64%;
    margin-bottom: 40px;
}

.right_container_img {
    width: 457.65px;
    font-size: 14px;
    font-family: 'lato-regular', Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0px 30px 0px 0px;
}

.right_container_cont {
    width: 465.07px;
    font-size: 14px;
    font-family: 'lato-regular', Arial, Helvetica, sans-serif;
}



/* // phan có cái khung màu đỏ// */
/* //hocvienkaizen $ ringht_container chung */
.no_margin.right_container_cont_cont {
    margin-bottom: 0px;
}

.right_container_cont_cont {
    float: right;
    display: block;
    width: 100%;
    border: 5px solid #ed1c24;
    padding: 40px 0px 40px 0px;
    margin-bottom: 20px;
}

.right_container_cont_cont_ct,
.right_container_cont_cont_1 {
    float: right;
    display: block;
    width: 79%;
}

.right_container_cont_cont_row,
.hocvienkaizen_left_content_row {
    margin-bottom: 25px;
}

.hocvienkaizen {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}

.hocvienkaizen_left {
    float: left;
    display: block;
    width: 54%;
    position: absolute;
    left: 0px;
    z-index: 10;
}

.hocvienkaizen_left_logo {
    margin-bottom: 40px;
}

.hocvienkaizen_left_content {
    border: 5px solid #76b800;
    padding: 40px 30px;
    margin-bottom: 15px;
    height: 235px;
}

.right_container_cont_cont_row_left,
.hocvienkaizen_left_content_left {
    width: 27%;
    margin-right: 2%;
}

.right_container_cont_cont_row_left,
.hocvienkaizen_left_content_left {
    float: left;
    display: block;
    width: 27%;
    margin-right: 8%;
    font-family: 'latoitalic';
    line-height: 22px;
}

.right_container_cont_cont_row_right,
.hocvienkaizen_left_content_right {
    width: 68%;
}

.right_container_cont_cont_row_right,
.hocvienkaizen_left_content_right {
    float: left;
    display: block;
    width: 65%;
    line-height: 22px;
}

.hocvienkaizen_right {
    float: right;
    display: block;
    width: 52%;
    position: relative;
    left: 0px;
}

.right_container_cont_cont.right_container_cont_cont_red {
    background: #ed1c24;
    padding: 20px 0px 20px 0px;
    color: #fff;
    font-size: 16px;
}

.right_container_cont_cont {
    float: right;
    display: block;
    width: 100%;
    border: 5px solid #ed1c24;
    padding: 40px 0px 40px 0px;
    margin-bottom: 20px;
}

.right_container_cont_cont.right_container_cont_cont_red .right_container_cont_cont_row {
    margin-bottom: 5px;
}

.right_container_cont_cont_ct {
    width: 360.03px;
    font-size: 14px;
    font-family: 'lato-regular', Arial, Helvetica, sans-serif;
    color: #333;
}

.right_container_cont_cont.no_margin {
    width: 465.07px;
    font-size: 14px;
    font-family: 'lato-regular', Arial, Helvetica, sans-serif;
    color: #333;
    padding: 40px 0;
}

.right_container_cont_cont.right_container_cont_cont_red {
    width: 465.07px;
    color: #fff;
    padding: 20px;
    border: none;
    margin: 0;

}

.right_container_cont_cont_title {
    color: #ed1c24;
    text-transform: uppercase;
    border-bottom: 2px solid #d4d4d4;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    float: left;

}

.right_container_cont_cont_cout ul li {
    padding: 0px;
    list-style: none;
    color: #333;
}

.right_container_cont_cont_cont ul li {
    list-style-type: none;
    /* Loại bỏ dấu chấm liệt kê */
}

/* //bên trái  */
@media only screen and (min-width: 1200px) {
    .left_container_maz {
        padding: 15px 10px 15px 10px;
    }
}

.left_container_maz {
    padding: 15px 10px 15px 10px;
    margin-bottom: 30px;
}

.left_container_maz h4 {
    background: url(/images/ngoisaomayman.png) no-repeat 27% 0px;
    background-size: 15px 15px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.carousel_magazine.slide {
    float: left;
    display: block;
    margin-left: 1px;
}

.content_magazine_content {
    float: left;
    display: block;
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 0px;
}

@media only screen and (min-width: 1280px) {
    .content_magazine_content .slick-slide img {
        max-width: 240px;
    }
}

@media only screen and (min-width: 768px) {
    .content_magazine_content .slick-slide img {
        width: 100%;
    }
}

.slick-slide img {
    display: block;
}

.slick-slide img {
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/* phần video  */
.VietSeiko_youtube,
.VietSeiko_youtube_y {
    text-align: center;
}

.kaizen_youtube_c {
    float: left;
    display: block;
    width: 100%;
    height: 360px;
}

/* CSS cho khung chứa slideshow */
.kaizen_slider {
    text-align: center;

    display: block;
    width: 100%;
    max-width: 555px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin: 0 auto;
    position: relative;
}

.slide {
    display: none;
}

.slide-count-img img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide-count-wrap {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.current,
.total {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}