body {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* body a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
} */

.custom-bg {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px
}

.left_container {
    /* margin-top: 20px; */
    background: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /* padding: 15px; */
}

.left_container_title {
    background: rgb(237, 28, 36);
    background: linear-gradient(90deg, rgba(237, 28, 36, 1) 0%, rgba(237, 28, 36, 1) 35%, rgba(191, 3, 12, 1) 100%);
    color: #fff;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    font-family: 'Tinos', serif;
    font-size: 20px;
    /* text-transform: uppercase; */
}

.left_container_title_ch {
    float: right;
    display: block;
    width: auto;
    line-height: 0px;
}

/* Reset some default styles */
h1,
h2,
h3,
h4,
h5,
h6,
.panel-title,
.collapse_large,
.collapse_small {
    font-family: roboto;
    font-weight: 500;
    color: inherit;
}

/* Global styles */
.content_banner_aboutus_title,
.left_container,
.left_container_title,
.left_container_content,
.panel-heading h4.panel-title,
.panel-heading,
.collapse_large,
.collapse_small,
.left_container_maz,
.left_container_maz_cont .carousel-item-maz,
.left_container_maz,
.left_container_maz_cont {
    float: left;
    display: block;
    width: 100%;
}

.panel-group {
    margin-bottom: 20px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    padding: 10px 20px;
    border-radius: 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid transparent;
}

.panel-heading span {
    font-size: 16px;
    font-family: roboto;

}

.panel-title {
    margin: 0;
    font-size: 16px;
}

/* Specific styling for panel and headings */
.panel-default {
    border-color: #f0f0f0;
}

.panel-default>.panel-heading {
    color: #0b0b0b;
}

/* Thiết lập cho icon và span */
.icon-wrapper {
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
    /* Hiệu ứng phóng to */
}

.icon-wrapper:hover {
    transform: scale(1.1);
    /* Phóng to 110% khi rê chuột vào */
}

/* Cập nhật CSS cho icon và span */
.icon-wrapper i {
    margin-right: 10px;
}

.collapse_large {
    font-size: 16px;
    color: #0b0b0b;
}

/* Tùy chỉnh cho hiệu ứng phóng to */
.collapse_large:hover {
    font-size: 18px;
    color: #BE030C;
}

/* Styling for collapse elements */
.collapse_small {
    font-size: 13px;
    color: #888c87;
    transition: color 0.3s;
}

/* Hover effects */
.collapse_large:hover {
    color: #BE030C;
}

.collapse_small:hover {
    color: #009979;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* //col-md-9 clo-sm-12 */
/* Định dạng phần tử chứa tiêu đề và nội dung */
.custom-bg {
    padding: 16px;
}

/* Định dạng tiêu đề */
.bg-secondary h2 {
    padding: 10px;
    transition: font-size 0.3s;
}

/* Hiệu ứng khi rê chuột vào tiêu đề */
.bg-secondary h2:hover {
    font-size: 2em;
    cursor: pointer;
}

/* Sử dụng font-family: roboto; */
body,
table,
th,
td {
    font-family: roboto;
}

/* Hiệu ứng khi rê chuột vào */
.custom-table th,
.custom-table td {
    transition: all 0.3s ease-in-out;
    /* Hiệu ứng chuyển đổi mượt mà */
}

.custom-table th:hover,
.custom-table td:hover {
    transform: scale(1.1);
    /* Phóng to khi rê chuột vào */
    font-weight: bold;
    /* Có thể thêm font-weight nếu bạn muốn */
}

p img {
    transition: box-shadow 0.3s ease;
    /* Hiệu ứng chuyển đổi độ bóng trong 0.3 giây */
}

p img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Tạo độ bóng cho hình ảnh khi rê chuột vào */
}